body {
  margin: 0px;
}
@media screen and(min-width: 992px) {
}

@media screen and (min-width: 600) {
  #music-header {
    font-size: 10px;
  }
}
/* header */

#music-header {
  width: 100%;
  font-size: 20px;
  height: 10vh;
  background-image: repeating-linear-gradient(to right, red, blue);
  display: flex;
  justify-content: space-between;
  position: fixed;
}

#logo-heading {
  display: inline-block;
  display: flex;
  width: 40%;
  align-items: center;
}

#logo-heading span {
  font-size: 4vh;
  color: yellow;
}

#logo-heading i {
  color: white;
  font-size: 10vh;
}

#search-pic {
  display: inline-block;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 60%;
}

#search-header {
  width: 40%;
  height: 5vh;
  background-color: black;
  border-radius: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

#search-header input {
  background-color: black;
  margin-left: 2rem;
  width: inherit;
  border: none;
  color: white;
  outline: none;
}

#search-header i {
  color: white;
  position: relative;
  font-size: 3vh;
  left: 3px;
}

#search-pic > i {
  color: white;
  font-size: 7vh;
}
